/vendor
/.idea

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/apps/SymfonyClient/config/secrets/prod/prod.decrypt.private.php
/apps/SymfonyClient/public/bundles/
/apps/SymfonyClient/var/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/build
/reports
/.phpunit.cache
.phpunit.result.cache
###< phpunit/phpunit ###

###> php-amqplib/rabbitmq-bundle ###
/var
###< php-amqplib/rabbitmq-bundle ###
